<?xml version="1.0" encoding="UTF-8"?>
<!-- Used for configuring everything that has to do with the WHOLE web application-->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <!-- Configure error handling for 404 -->
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.xhtml</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/500.xhtml</location>
  </error-page>

  <!-- Spring Context Configuration -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/applicationContext.xml</param-value>
  </context-param>

  <!-- Spring Context Listener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- JSF Servlet Configuration -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
    <multipart-config>
      <max-file-size>5242880</max-file-size>
      <max-request-size>5242880</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>

  <!-- Weld Servlet Listener for CDI -->
  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>

  <!-- Default Welcome File -->
  <welcome-file-list>
    <welcome-file>login.xhtml</welcome-file>
  </welcome-file-list>

</web-app>
